*
{
 margin:0px;
 padding: 0px;
 
}
.header
{
	
	background-color:white;
}
.rrr
{
	align: left;
	padding-top:4%;
	height:5px;
	width:0%;
	
}
.gr
{
	align: right-top;
	height: 20px;
	width: 0%;
	margin:50px auto;
}
.social
{
		height:60px;
	width:100%;
	background-color:#00004d;
	color:white;
	position:fixed;
	
}
#logo
{
		float:left;
	line-height:60px;
	padding-left:30px;
	font-size:35px;

}
.menu-all .menu-item
{
	float:right;
	padding:10px;
	list-style-type:none;
	line-height:40px;
	
}
a
{
	color:white;
	text-decoration:none;
	
}
.menu-all .menu-item:hover
{
	background-color:red;
	

}
a:hover
{
	
	color: #00ff99;
}
#search
{
	float:right;
    margin:20px;
  float:right;
  border-style:outset;
}
h1
{
	font-family:Cooper Black;
}
#about
{

	height:400px;
	width:550px;
	text-align:center;
	margin:0 auto;
	padding:20px;
}
.cat
{
	width:190px;
	height:40px;
	margin:20px;
	border-radius:10px;
	background-color:#00004d;
	color:white;
	font-size:120%;
	box-shadow: 0 5px #999;
	border:none;
	cursor:pointer;
	transition-duration:0.1s;
}
.cat:active
{
	box-shadow:0px 0px #666;
	transform: translateY(5px);
}
.about-p
{
	padding-top:10px;
	
    font-size:20px;	
}
h1
{
	
	font-size:38px;
color:#ff1a1a;
}
#tutorials
{
	background-color:#00334d;
	text-align:center;
	color:white;
	padding-top:50px;
	margin-bottom:150px;
	
}
#tutorials h1{color:white;}
.col-3
{
	width:250px;
	float:left;
	margin-right:1%;
	padding:40px;
	border:1px solid #999;
	border-radius:15px;
}
.row
{
	
	
	height:400px;
	width:90%;
	margin:50px auto;
}
.col-left
{
	
	
	margin-left:1%;
}
.col-3 img
{
	border:1px #cccccc solid;
	border-radius:15px;
	box-shadow:0px 5px 15px black;
	width:100%;
	max-width:260px;
}
.tut-header
{
	font-size:30px;
	font-weight:bold;
}
.cat.tuts
{
	background-color:white;
	box-shadow:0 50px #white;
	color:black;
	
}
.slider
{
	padding-top:4%;
	height:px;
	width:90%;
	
	
	
}
#wsfooter
{
	clear:both;
	text-align:center;
	background-color:#00004d;
	color:white;
	padding:30px 0;
}
.cat tutss
{

	
	width:190px;
	height:30px;
	margin:70px;
	border-radius:30px;
	background-color:#8a8a5c;
	color:white;
	font-size:120%;
	box-shadow: 0 5px #999;
	border:none;
	cursor:pointer;
	transition-duration:0.1s;
}
.cat tutss:active
{
	box-shadow:0px 0px #666;
	transform: translateY(5px);
}
.cat.tutss
{
	background-color:#8a8a5c;
	box-shadow:0 50px #white;
	color:black;
	
}
.cats:active
{
	box-shadow:0px 0px #666;
	transform: translateY(5px);
}
.cats
{
	background-color:#8a8a5c;
	box-shadow:0 50px #white;
	color:black;
	
}
.cats 
{

	
	width:190px;
	height:50px;
	margin:70px;
	border-radius:30px;
	background-color:#00334d;
	color:white;
	font-size:120%;
	box-shadow: 0 5px #999;
	border:none;
	cursor:pointer;
	transition-duration:0.1s;
}
.midle
{
	margin-top: 100px;
}